.screen {
    background: #8d75b7;
    display: flex;
    flex-wrap: wrap;
}

#box {
    display: flex;
}

.item {
    width: 30px;
    height: 30px;
    display: inline-flex;
    outline: 1px solid black;
}

.item.active {
    background-color: purple;
outline: 1px solid white;
}

#startGame {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: cursive;
}

.btn-container {
    text-align: center;
}

#score {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    font-size: 24px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font-family: cursive;
}

.forFreezing {
    display: none;
}